infrastructure/RDS/credentials.tf

# Distribution / packaging
dependencies/built-in/python
dependencies/built-in/*.zip
dependencies/custom/*.zip

# Terraform directories
infrastructure/RDS/.terraform
infrastructure/RDS/.terraform.lock.hcl
infrastructure/RDS/terraform.tfstate.backup
infrastructure/RDS/terraform.tfstate

# Serverless directories
cords/.serverless