<html>

<head>
    <script src="/scripts/winbox.js"></script>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
            line-height: 1.6;
            max-width: 100%;
            padding: 2rem;
            background: #fbfbfb;
            font-size: 2em;
        }
        
        #explanation {
            display: none;
        }
        
        .hidden {
            display: none;
        }
    </style>
    <title>Cluster-based recommendation demo</title>
</head>

<body>
    <h1>Cluster-based recommendation demo</h1>
    <script>
        // UI components
        const UIcomponents = {
            clusterMap: `<div id="clusterMap">
            <h2><u>Clusters Map</u></h2>
            <p>This component is the 2D representation of the centres of the clusters. Each number is a cluster ID. Distance on this map shows how related clusters are to each other.</p>
            <button onclick="updateSearchedUi()">see searched service clusters</button>
            <button onclick="updateRecommendationsUi()">see recommended service clusters</button>
            <div>
                <canvas id="canvas" height="500px" width="800px"></canvas>
            </div>
        </div>`,
            explanation: `<div id="explanation">
            This demo allows you to see our innovative and helpful cluster-based recommendations.<br/>
            <p><u>Demo:</u></p>
            <p>1) Add a service to your selection.</p>
            <p>2) Receive cluster ID recommendations.</p>
            <p>3) Explore the services inside that cluster.</p><br>
            <hr>
            <p><u>Data:</u></p>
            <p>The 2 data sets to create these recomemndations are provided by 211.</p>
            <p> The first data set contains: call reference ID. The second dataset contains: a service with its description, title, and taxonomy codes.</p><br>
            <hr>
            <p><u>Methodology:</u></p>
            <p>1) Each service description was vectorized using an open source, multilingual <a href="https://tfhub.dev/google/universal-sentence-encoder-multilingual-large/3">vectorizer</a>.</p>
            <p>2) Each service vector was assigned into 1 of 100 cluster IDs using <a href="https://scikit-learn.org/stable/modules/generated/sklearn.cluster.Birch.html">Birch clustering</a>.</p>
            <p>3) Each taxonomy code was assigned a cluster ID based on a majority of service cluster IDs.</p>
            <p>4) <a href="https://en.wikipedia.org/wiki/Collaborative_filtering">Collaborative filtering</a> is applied from input taxonomies to predict which cluster IDs will most likely be helpful.</p>
        </div>`,
            selectionsContainer: `<div id="selectionContainer">
            <h2><u>Current selections</u></h2>
            <p>This component shows services you have selected.</p>
            <div id="selections"></div>
        </div>`,
            serviceSearch: `<div id="serviceSearch">
            <h2><u>Service Search</u></h2>
            <p>This component allows you to search and select services.</p>
            <input id="searchText"><button onclick="searchServices()">search service</button>
            <div id="services"></div>
        </div>`,
            clusterSearch: `<div id="clusterSearch">
            <h2><u>Cluster Search</u></h2>
            <p>This component displays the titles of the contents of one cluster.</p>
            <input id="clusterIdInput"><button onclick="selectClusterClick()">search cluster</button>
            <p id="currentClusterDisplay"></p>
            <div id="clusterItems"></div>
        </div>`,
            recommendedClusters: `<div>
                <h2><u>Recommended Clusters Keywords</u></h2>
                <p>These keywords are extracted from the descriptions of the services inside each cluster</p>
                <div id='recommendedList'></div>
        </div>`
        }
    </script>

    <div id="app">

        <div id="viewsToggle">
            <button onclick="showElement('explanation')">toggle explanation view</button>
            <button onclick="showElement('serviceSearch')">Service Search</button>
            <button onclick="showElement('selectionsContainer')">Selections</button>
            <button onclick="showElement('clusterSearch')">Cluster Search</button>
            <button onclick="showElement('clusterMap')">Map of clusters</button>
            <button onclick="showElement('recommendedClusters')">Recommended Clusters' Descriptions</button>
        </div>
    </div>

    <script>
        //state
        const state = {
            clusters: [],
            currentCluster: {},
            selectedClusters: [],
            recommendations: [],
            services: [],
        };

        // State updates
        const setCurrentCluster = (clusterId) => {
            return getClusterData(clusterId)
                .then(data => {
                    state.currentCluster = data;
                });
        };

        const setClusters = clusters => {
            state.clusters = clusters;
        };

        const removeSelection = (clusterId) => {
            for (let i = state.selectedClusters.length - 1; i >= 0; i--) {
                if (state.selectedClusters[i].clusterId === clusterId) {
                    state.selectedClusters.splice(i, 1);
                    break;
                }
            }
            updateSelectionsUi();
            updateRecommendations();
        };

        const addSelection = (data) => {
            const clusterId = data["clusterId"]
            let contained = false;
            for (let i = 0; i < state.selectedClusters.length; i++) {
                if (state.selectedClusters[i]["clusterId"] === clusterId) {
                    contained = true;
                    break
                }
            }
            if (!contained) {
                state.selectedClusters.push(data);
            }
            updateSelectionsUi();
            updateRecommendations();
        };


        // Data fetches

        const searchServices = () => {
            const text = document.getElementById('searchText').value;
            fetch("/search", {
                    method: "POST",
                    body: JSON.stringify({
                        query: text
                    })
                }).then(data => data.json())
                .then(json => {
                    state.services = json.items
                }).then(updateServicesUi)
                .then(updateSearchedUi);
        };

        const getClustersData = () => {
            return fetch("/clusters")
                .then(data => data.json())
                .then(json => json.clusters);
        };

        const getClusterData = (clusterId) => {
            return fetch("/cluster?clusterId=" + clusterId)
                .then(data => data.json());
        };

        const getSelectedClustersFromState = () => state.selectedClusters.map(elem => elem.clusterId.toString()).join(',');

        const fetchRecommendationsUsingSelections = (items) => fetch("/recommended?clusters=" + getSelectedClustersFromState()).then(data => data.json());

        const commitRecommendationsToState = (json) => {
            state.recommendations = json.clusters;
        };

        const updateRecommendations = () => {
            fetchRecommendationsUsingSelections()
                .then(commitRecommendationsToState)
                .then(updateRecommendationsUi);
        };

        // UI Updates
        const selectClusterClick = (clusterId = null) => {
            if (clusterId == false) {
                const clusterId = document.getElementById("clusterIdInput").value;
                document.getElementById("currentClusterDisplay").innerText = `displaying cluster ID: ${clusterId}`;
                return setCurrentCluster(clusterId)
                    .then(updateCurrentClusterUi);
            } else {
                document.getElementById("currentClusterDisplay").innerText = `displaying cluster ID: ${clusterId}`;
                return setCurrentCluster(clusterId)
                    .then(updateCurrentClusterUi);
            }
        };

        const loadClusters = () => {
            return getClustersData()
                .then(setClusters);
        };

        const updateCurrentClusterUi = () => {
            const itemsList = document.getElementById('clusterItems');
            const itemsText = state.currentCluster.itemList.items.map(createListItem).join('<br>')
            itemsList.innerHTML = itemsText;
        };

        const createListItem = item => `${item['name']}`;

        const paintClusters = (selectedClusters = []) => {
            const canvas = document.getElementById('canvas');
            const context = canvas.getContext("2d");
            context.clearRect(0, 0, canvas.width, canvas.height);
            state.clusters.forEach(cluster => paintCluster(cluster, context, selectedClusters))
        };

        const paintCluster = (cluster, context, selectedClusters) => {
            const canvas = document.getElementById('canvas');
            const centre = [
                scaleCoordinate(cluster.centre[0], 800),
                scaleCoordinate(cluster.centre[1], 500)
            ]
            context.moveTo(centre[0], centre[1]);
            context.fillText(cluster.clusterId.toString(), centre[0], centre[1]);
            if (selectedClusters.indexOf(cluster.clusterId.toString()) > -1) {
                context.strokeStyle = '#FF0000';
                context.beginPath();
                context.arc(centre[0] + 5, centre[1] - 3, 10, 0, 2 * Math.PI, false);
                context.stroke();
                context.strokeStyle = '#FFFFFF';
            }
        };

        const showElement = (elementUi) => {
            const fromThis = elementUi;
            new WinBox({
                title: elementUi,
                html: UIcomponents[elementUi],
                height: Math.random() * 200 + 100,
                width: Math.random() * 200 + 100,
                x: Math.random() * 800 + 50,
                y: Math.random() * 800 + 50,
            });
            if (elementUi === 'clusterMap') paintClusters();
            if (elementUi === 'clusterSearch') attachSelectClusterOnEnterEvent();
        };

        const displayServices = (service) => {
            const container = document.getElementById('services');
            container.innerHTML = '';
            text = '';
            state.services.forEach(service => {
                text += serviceView(service);
            });
            container.innerHTML = text;
        }

        const updateSelectionsUi = () => {
            const elem = document.getElementById('selections');
            const text = state.selectedClusters.map(service => `<button onclick="removeSelection('${service.clusterId}')">-</button>` + service.name).join('<br>');
            elem.innerHTML = text;
        };

        const updateServicesUi = () => {
            displayServices(state.services);
        };

        const updateRecommendationsUi = () => {
            const recommendedClusters = [];
            state.recommendations.forEach(cluster => recommendedClusters.push(cluster.clusterId.toString()))
            paintClusters(recommendedClusters);
            describeResults();
        };

        const updateSearchedUi = () => {
            const searchedClusters = [];
            state.services.forEach(service => searchedClusters.push(service.clusterId.toString()))
            paintClusters(searchedClusters);
        }

        const describeResults = () => {
            try {
                const elem = document.getElementById('recommendedList');
                const descriptions = state.recommendations.map(clusterDescriptionUi).join('')
                elem.innerHTML = descriptions;
            } catch (err) {}
        }

        const clusterDescriptionUi = cluster => `<div><button onclick="selectClusterClick(${cluster.clusterId})">${cluster.clusterId}</button>: ${cluster.summary}</div>`;

        const serviceView = (service) => {
            return `<span id="${service.clusterId}">
        <button onclick='addSelection(${JSON.stringify(service)})'>+</button>
        ${service.clusterId} - ${service.name}
        </span><br>`;
        };

        // helpers
        const scaleCoordinate = (coordinate, scale = 800) => coordinate * scale * 0.9 + scale * 0.05;

        // Event listener
        const attachSelectClusterOnEnterEvent = () => {
            document.getElementById("clusterIdInput")
                .addEventListener("keyup", function(event) {
                    // Number 13 is the "Enter" key on the keyboard
                    if (event.keyCode === 13) {
                        selectClusterClick();
                    }
                });
        }

        // Event listener
        const attachServiceSearchOnEnterEvent = () => {
            document.getElementById("searchText")
                .addEventListener("keyup", function(event) {
                    // Number 13 is the "Enter" key on the keyboard
                    if (event.keyCode === 13) {
                        searchServices();
                    }
                });
        }

        loadClusters();
    </script>


</body>

</html>