<html>

<head>
    <link rel="stylesheet" href="/static/cluster_demo.css">
    <title>Cluster-based recommendation demo</title>
</head>

<body>
    <h1>Cluster-based recommendation demo</h1>

    <div id="app">
        <div id="explanation">
            This demo allows you to see our innovative and helpful cluster-based recommendations. <br /> Every service
            has a taxonomy but what about recommendations across taxonomies?<br />
            <p><u>Demo:</u></p>
            <p>1) Search for and add a service to your selection.</p>
            <p>2) Receive cluster ID recommendations.</p>
            <p>3) Explore the services inside that cluster.</p><br>
            <hr>
            <p><u>Data:</u></p>
            <p>The 2 data sets to create these recomemndations are provided by 211.</p>
            <p> The first data set contains: call reference ID. The second dataset contains: a service
                title with an anonymized caller reference id.</p><br>
            <hr>
            <p><u>Methodology:</u></p>
            <p>1) Each service description was vectorized using an open source, multilingual <a
                    href="https://tfhub.dev/google/universal-sentence-encoder-multilingual-large/3">vectorizer</a>.</p>
            <p>2) Each service vector was assigned into 1 of 100 cluster IDs using <a
                    href="https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html">K-means
                    clustering</a>.</p>
            <p>3) Each taxonomy code was assigned a cluster ID based on a majority of service cluster IDs.</p>
            <p>4) <a href="https://en.wikipedia.org/wiki/Collaborative_filtering">Collaborative filtering</a> is applied
                from input services to predict which cluster IDs will most likely be helpful.</p>
        </div>

        <div id="taxSearch">
            <h2><u>Services Search</u></h2>
            <p>This component allows you to select taxonomies.</p>
            <input id="searchText"><button onclick="search()">search</button>
            <div id="agencies"></div>
        </div>

        <div id="clusterMap">
            <h2><u>Clusters Map</u></h2>
            <p>This component is the 2D representation of the centres of the clusters. Each number is a cluster ID.
                Distance on this map shows how related clusters are to each other.</p>
            <div>
                <canvas id="canvas" height="500px" width="800px"></canvas>
            </div>
        </div>
        <div id="selectionContainer">
            <h2><u>Current selections</u></h2>
            <p>This component shows items you have selected.</p>
            <div id="selections"></div>
        </div>
        <div id="clusterSearch">
            <h2><u>Cluster Search</u></h2>
            <p>This component displays the titles of the contents of one cluster.</p>
            <input id="clusterIdInput"><button onclick="selectClusterClick()">search</button>
            <p id="currentClusterDisplay"></p>
            <div id="clusterItems"></div>
        </div>
        <div>
            <h2><u>Recommended Clusters Keywords</u></h2>
            <p>These keywords are extracted from the descriptions of the services inside each cluster</p>
            <div id='recommendedList'></div>
        </div>
    </div>

    <script src="/scripts/cluster_demo.js">
    </script>


</body>

</html>