<html>

<head>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
            line-height: 1.6;
            max-width: 60rem;
            padding: 2rem;
            margin: auto;
            background: #fafafa;
            font-size: 2em;
        }
        
        #taxonomies {
            overflow: scroll;
            height: 600px;
        }
        
        #explanation {
            display: none;
        }
    </style>
    <title>Cluster-based recommendation demo</title>
</head>

<body>
    <script>
        //state
        const rec_state = {
            selectedTaxonomies: [],
            recommendations: {},
            taxonomies: [],
            displayTaxonomies: []
        };

        //state updates

        const removeSelection = (taxonomyCode) => {
            for (let i = rec_state.selectedTaxonomies.length - 1; i >= 0; i--) {
                if (rec_state.selectedTaxonomies[i]["taxonomyCode"] === taxonomyCode) {
                    rec_state.selectedTaxonomies.splice(i, 1);
                    break;
                }
            }
            updateSelectionsUi();
            updateRecommendations();
        };

        const addSelection = (data) => {
            const taxonomyCode = data["taxonomyCode"]
            let contained = false;
            for (let i = 0; i < rec_state.selectedTaxonomies.length; i++) {
                if (rec_state.selectedTaxonomies[i]["taxonomyCode"] === taxonomyCode) {
                    contained = true;
                    break
                }
            }
            if (!contained) {
                rec_state.selectedTaxonomies.push(data);
            }
            updateSelectionsUi();
            updateRecommendations();
        };

        const search = () => {
            const text = document.getElementById('searchText').value;
            console.log('search for', text);
            rec_state.displayableTaxonomies = rec_state.taxonomies.filter(elem => elem["taxonomyName"].indexOf(text) > -1);
            updateTaxonomiesUi();
        };

        //data fetches

        const loadData = () => {
            const elem = document.getElementById('status');
            elem.innerText = 'loading data!'
            Promise.resolve(1).then(() => {
                return getTaxnomies().then(items => {
                    rec_state.taxonomies = items
                })
            }).then(() => {
                elem.innerText = 'data loaded, ready for seach.'
                rec_state.displayableTaxonomies = rec_state.taxonomies;
                updateTaxonomiesUi();
            })
        };

        const getTaxnomies = () => {
            return fetch("/taxonomies")
                .then(data => data.json())
                .then(json => json.taxonomies)
        };

        const getSelectedTaxonomyFromState = () => rec_state.selectedTaxonomies.map(elem => elem["taxonomyCode"]).join(',');

        const fetchRecommendationsUsingSelections = (items) => fetch("/recommendations?items=" + items).then(data => data.json());

        const commitRecommendationsToState = (json) => {
            rec_state.recommendations = json.clusters;
        };

        const updateRecommendations = () => {
            const elem = document.getElementById('status');
            elem.innerText = "fetching recommendations";
            Promise.resolve(true)
                .then(getSelectedTaxonomyFromState)
                .then(fetchRecommendationsUsingSelections)
                .then(commitRecommendationsToState)
                .then(updateRecommendationsUi)
                .then(() => {
                    elem.innerText = "recommendations listed";
                })
        };

        // UI updates

        const displayTaxonmies = (taxonomies) => {
            const container = document.getElementById('taxonomies');
            container.innerHTML = '';
            text = '';
            rec_state.displayableTaxonomies.forEach(taxonomy => {
                text += taxonomyView(taxonomy);
            });
            container.innerHTML = text;
        };

        const updateSelectionsUi = () => {
            const elem = document.getElementById('selections');
            const text = rec_state.selectedTaxonomies.map(tax => tax["taxonomyName"] + `<button onclick="removeSelection('${tax["taxonomyCode"]}')">remove</button>`).join('<br>');
            elem.innerHTML = text;
        };

        const updateTaxonomiesUi = () => {
            displayTaxonmies(rec_state.displayableTaxonomies);
        };

        const updateRecommendationsUi = () => {
            console.log(rec_state.recommendations);
            const elem = document.getElementById('recommendations');
            // const text = rec_state.recommendations.map(tax => tax[1] + ' - ' + tax[0]).join('<br>');
            elem.innerHTML = 'pretend they are here but check the terminal';
        };

        const toggleExplanation = () => {
            var x = document.getElementById("explanation");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        };

        const taxonomyView = (taxonomy) => {
            return `<span id="${taxonomy["taxonomyCode"]}">
        <button onclick='addSelection(${JSON.stringify(taxonomy)})'>add to selections</button>
        ${taxonomy["taxonomyCode"]} - ${taxonomy["taxonomyName"]}
        </span><br>`;
        };
    </script>
    <h1>Cluster-based recommendation demo</h1>

    <div id="app">
        <button onclick="toggleExplanation()">toggle explanation</button>
        <div id="explanation">
            This demo allows you to see our innovative and helpful cluster-based recommendations. <br/> Every service has a taxonomy but what about recommendations across taxonomies?<br/>
            <p><u>Demo:</u></p>
            <p>1) Add a taxonomy to your selection.</p>
            <p>2) Receive cluster ID recommendations.</p>
            <p>3) Explore the taxonomies inside that cluster.</p><br>
            <hr>
            <p><u>Data:</u></p>
            <p>The 2 data sets to create these recomemndations are provided by 211.</p>
            <p> The first data set contains: call reference ID and taxonomy code. The second dataset contains: a service with its description, title, and taxonomy code.</p><br>
            <hr>
            <p><u>Methodology:</u></p>
            <p>1) Each service description was vectorized using an open source, multilingual <a href="https://tfhub.dev/google/universal-sentence-encoder-multilingual-large/3">vectorizer</a>.</p>
            <p>2) Each service vector was assigned into 1 of 100 cluster IDs using <a href="https://scikit-learn.org/stable/modules/generated/sklearn.cluster.Birch.html">Birch clustering</a>.</p>
            <p>3) Each taxonomy code was assigned a cluster ID based on a majority of service cluster IDs.</p>
            <p>4) <a href="https://en.wikipedia.org/wiki/Collaborative_filtering">Collaborative filtering</a> is applied from input taxonomies to predict which cluster IDs will most likely be helpful.</p>
        </div>
        <div>
            <h2>Current selections:</h2>
            <div id="selections"></div>
        </div>
        <div>
            <h2>Current recomemndations:</h2>
            <div id="recommendations"></div>
        </div>
        <div id="search">
            <h2>taxonomy search</h2>
            <input id="searchText"><button onclick="search()">search</button><br> status:
            <span id="status">empty</span>
        </div>
        <div id="taxonomies"></div>
    </div>
    <script>
        loadData();
    </script>
</body>

</html>