<html>

<head>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
            line-height: 1.6;
            max-width: 60rem;
            padding: 2rem;
            margin: auto;
            background: #fafafa;
            font-size: 2em;
        }
        
        #taxonomies {
            overflow: scroll;
            height: 600px;
        }
        
        #explanation {
            display: none;
        }
    </style>
    <title>Cluster and Recommendation Exploration</title>
</head>

<body>
    <h1>Cluster and Recommendation Exploration</h1>

    <p>This portal is for education and demonstration of the techniques and technologies that facilitate a hybrid recommendation engine for the CORDS project.</p>
    <p><a href="/recommendation_demo">Recommendation Demo</a>
    </p>
    <p><a href="/cluster_explorer">Cluster Explorer</a></p>
    <p><b>What is a hybrid recommendation engine?</b><br>A recommendation engine provides suggestions to the user based on what they have selected. These selections can be based on knowledge of the items or data of previous selections. This recommendation
        engine acts on both. <a href="https://en.wikipedia.org/wiki/Recommender_system">Wikipedia Recommender Systems</a></p>
    <p><b>What knowledge does it have of the items?</b><br>The English and French titles and descrpitions of 211's database have been vectorized, using a deep neural network publish by Google. Each service gets a vector of 512 numbers can be thought of as
        a point in 512-dimensional space. A point in this space represents the meaning of what was vectorized. Vectors that a closer or farther in the space are semantically closer or farther as well. The specific model is found <a href="https://tfhub.dev/google/universal-sentence-encoder-multilingual-large/3">here</a>.</p>
    <p><b>What previous data of selections are used?</b><br>Previous data from 2019 and 2020 from the 211 call centre is used to make recommendations. We explored making recommendations based solely on the taxonomy category of the referrals, leveraging data
        about calls with mutliple referrals. This was successful and provided valuable learnings but we are aiming to include services which are outside of the taxonomy and so we algorithmically create our own category using the vectors and a clustering
        algorithm called Birch clustering.</p>
    <p><b>What value is Birch clustering in recommendations?</b><br>Birch clustering enables us to algorithmically assign a category to all the vectors that we store. For more information on Birch custering, see this <a href="https://scikit-learn.org/stable/modules/generated/sklearn.cluster.Birch.html">link</a>.
        These categories, called clusters, allow us to group the vectors by which are closer to each other. These clusters are then used with Collaborative Filtering to create new recommendations.</p>
    <p><b>What is recommendation using Collaborative Filtering?</b><br>Collaborative Filtering is an algorithm that leverages previous data about coincident categories or items to recommend new items to a user based on their changing selection. Let's look
        at an example with Alice, Bob, and Carol. Alice and Bob have selected items X and Y, and Y and Z, respectively. If Carol selects item X, Carol would be recommended item Y. If Carol selects only item Y, Carol would be recommended items X and Z.
        This is based on a single point per common item per item-set and then those points are summed per unselected item from each set. This can provide an ordered list of recommendations that a user has not yet selected, but will likely select. More
        information can be found on <a href="https://en.wikipedia.org/wiki/Collaborative_filtering">Wikipedia</a></p>
</body>

</html>