aiofiles==0.7.0
faiss-cpu==1.7.0
fastapi==0.65.2
html2text==2020.1.16
httptools==0.1.1
numpy==1.21.0
pandas==1.2.5
psycopg2-binary==2.8.6
pydantic==1.8.2
scikit-learn==0.24.2
sentry-sdk
tensorflow
tensorflow-hub==0.11.0
tensorflow_text==2.5.0
uvicorn==0.14.0
uvloop==0.15.2
